{
  "extends": ["airbnb", "eslint:recommended", "plugin:react/recommended", "react-app", "prettier/react", "plugin:prettier/recommended"],
  "plugins": ["flowtype", "promise", "import", "react", "react-hooks", "prettier"],
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "no-underscore-dangle": [2, { "allow": ["_id"] }],
    "max-len": [
      2,
      {
        "code": 150
      }
    ],
    "import/no-unresolved": "off",
    "import/named": "off",
    "no-nested-ternary": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-props-no-spreading": [
      0,
      {
        "custom": "ignore"
      }
    ],
    "react/state-in-constructor": [2, "never"],
    "react/forbid-prop-types": "off",
    "import/prefer-default-export": "off",
    "no-console": "warn",
    "no-eval": "error",
    "import/first": "error",
    "prettier/prettier": [
      "error",
      {
        "printWidth": 150,
        "jsxSingleQuote": false,
        "endOfLine":"auto"
      }
    ]
  }
}
